{% extends "web/base.html" %}

{% block contents %}
<div class="row">
	<div class="small-12 columns">
		<h2><a href="{% url 'dashboard:source-course-list' course.source.id %}">{{ course.provider.name }}</a></h2>
		<h1>{{ course.title }}</h1>
		<dl>
			<dt>Link</dt>
			<dd><a href="{{ course.linkurl }}">{{ course.linkurl }}</a></dd>
			<dt>Author</dt>
			<dd>{{ course.author|default:'N/A' }}</dd>
			<dt>Description</dt>
			<dd>{{ course.description|default:'N/A' }}</dd>
			<dt>Tags</dt>
			<dd>{{ course.tags|default:'N/A' }}</dd>
			<dt>Language</dt>
			<dd>{{ course.language|default:'N/A' }}</dd>
			<dt>Categories</dt>
			{% if course.categories.all %}
				<dd>{{ course.categories.all|join:', ' }}</dd>
			{% else %}
				<dd>N/A</dd>
			{% endif %}
			<dt>Published</dt>
			<dd>{{ course.date_published }}</dd>
			<dt>Content Medium</dt>
			<dd>{{ course.get_content_medium_display }}</dd>
		</dl>
	</div>
{% endblock %}
